# Environment variables
.env
.env.*
model/env        # <--- Explicitly ignores the "env" file in your model folder

# Python virtual environments
**/env/          # Keeps ignoring any "env" directories
env/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/